.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(39, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile {
  width: 70%;
  height: 70%;
  border: 6px solid white;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
}

.clock {
  width: 75%;
  height: 11%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.interval {
  font-size: 20px;
  font-weight: 500;
}

.navbar {
  width: 98%;
  height: 3px;
  background-color: rgb(21, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* margin-top: 50px; */
}

.timer {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.time {
  width: 20%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.number {
  font-size: 80px;
  font-weight: 700;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.button {
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.click {
  width: 50%;
  height: 60%;
  border-radius: 20px;
  background-color: #2caafe;
  font-weight: 700;
  font-size: 20px;
}

.click1 {
  width: 50%;
  height: 60%;
  border-radius: 20px;
  margin-left: 20px;
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 20px;
}


@media(max-width:600px){
  .mobile{
    width: 95%;
    height: 90%;
  }
  
.interval{
  font-size: 16px;

}

.timer{
  width: 82%;
  height: 55%;
}

.number{
  font-size: 65px;
}

.title{
  font-size: 20px;
}

.button{
  width: 60%;
  height: 20%;
}
.click{
  height: 52%;
  font-size: 19px;
}
  
.click1{
  height: 50%;
  font-size: 19px;
}
  
}